.main-container{
  display: flex;
  justify-content: space-around;
}
.cart-container{
  width: 350px;
  box-shadow: 4px 4px 8px gray;
}
.card{
  width: 320px;
  padding: 10px;
}
.card-img{
  width: 300px;
}
.card-footer{
  display: flex;
  justify-content: space-around;
}
.cart-container{
  padding: 8px;
  text-align: center;
}
.cart-container h1{
  background: #000;
  color: aliceblue;
  padding: 4px;
  border-radius: 12px;
}
.cart-title-price{
  display: flex;
  justify-content: space-around;
}